.blog-container {
  text-align: center;
  padding: 20px;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog-post {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f5f5f5;
}

.blog-post h2 {
  margin-bottom: 10px;
}

.blog-post a {
  color: #007bff;
  text-decoration: none;
}
.like-button {
  margin-top: 10px;
  background-color: red;
  color: white;
  border-radius: 25%;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

